---
import Layout from "../components/Layout.astro"
import { seoHome } from "../components/seo";
---

<Layout title={seoHome.title} desc={seoHome.desc} kw={seoHome.kw}>
  <h1>hello world</h1>
</Layout>