<nav class="navigation">
  <img class="h-10 w-10"
   src="/logo.jpg" alt="Logo de Core Company">
  <a href="/"
    class="text-white font-[400] text-xl [&>span]:text-white/60"
  >Core <span>Enterprise</span>
  </a>
  <!-- <ul class="">
    <li>
      <a href="/">Infos</a>
    </li>
  </ul> -->
</nav>

<style lang="scss">
@tailwind components;
@layer components {
  .navigation {
    @apply bg-neutral-900/60 backdrop-blur-[10px] h-[65px] pl-4 border-4 border-neutral-900 rounded-xl 
    flex items-center justify-start w-screen fixed top-[0px]
  }
}
</style>