<header class="header">
  <h2
    class="text-white font-[400] text-xl [&>span]:text-white/60"
  >CoreJS <span>Enterprise</span>
  </h2>
</header>

<style lang="scss">
@tailwind components;
@layer components {
  .header {
    @apply bg-neutral-900/60 backdrop-blur-md h-[65px] pl-4 border-[3px] border-neutral-900 rounded-md 
    flex items-center justify-start mb-6 w-full fixed top-[5px]
  }
}
</style>