---
export interface Props {
  title: string;
  desc: string;
  kw: string;
}
const { title, desc, kw } = Astro.props;
---

<html lang="es">
  <head>
    <!-- SEO -->
    <title>{ title }</title>
    <meta name="keywords" content={ kw }>
    <meta name="description" content={ desc }>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- APis - Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap" rel="stylesheet">
  </head>
  <body class="dark:bg-clrs-nvblue bg-clrs-iblue">
    <slot />
  </body>
</html>
