---
export interface Props {
  title: string;
  desc: string;
  kw: string;
  icon: string;
}
const { title, desc, kw, icon } = Astro.props;
---

<html lang="es">
  <head>
    <!-- SEO -->
    <title>{ title }</title>
    <meta name="keywords" content={ kw }>
    <meta name="description" content={ desc }>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href={ icon } type="image/jpg">
    <!-- APis - Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600&display=swap" rel="stylesheet">
  </head>
  <body class="bg-black [&>*]:font-sans">
    <slot />
  </body>
</html>

<style lang="scss">
@tailwind base;
@tailwind utilities;

@layer base {
  *::-webkit-scrollbar {
    display: none;
  }
}
</style>
